
body {
	width: 100%;
}

#bookgen {
	font-size: 40px;
}

img {
	width: 546px;
}

#book {
	border: 2px #000000 solid;
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}

#author {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

#title {
	font-size: 70px;
	text-align: center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
