
body {
	width: 100%;
}

#bookgen {
	font-size: 60px;
	font-family: 'Cinzel', serif;
}

.highlight {
	font-weight: bold;
}

a {
	font-size: 30px;
	color: #000000;
	font-family: 'Cinzel', serif;
}

a:hover {
	font-size: 30px;
	color: #000000;
	font-family: 'Cinzel', serif;
}

#image {
	width: 346px;
	margin-left: auto;
	margin-right: auto;
}

#image_container {
        overflow: hidden;
	width: 346px;
	height: 326px;
}

#book {
	width: 350px;
	height: 440px;
	/* border: 2px #555 solid; */
	margin-left: auto;
	margin-right: auto;
        box-shadow: 5px 5px 32px #666;
        overflow: hidden;

        display:flex;
        flex-direction:column;
}

#title {
	font-size: 30px;
	text-align: center;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
        margin-top: 10px;
}

#author {
	width: 250px;
        font-size: 15px;
	margin-left: auto;
	margin-right: auto;
}

#spacer {
        height: 300px;
        clear:both;
}
