{% extends 'generation/base.html' %}

{% block main %}
<span id="bookgen">BookGen</span>

&nbsp;
&nbsp;
	<a href="?genre=science fiction"><button class="btn btn-sm btn-success">Sci-Fi</button></a>
&nbsp;
&nbsp;
<a href="?genre=romance"><button class="btn btn-sm btn-success">Romance</button></a>

<a href="?genre=mix"><button class="btn btn-sm btn-success">Sci-Fi + Romance = ?</button></a>

<h2>Genre: {{ genre }}</h2>

<div id="book">
  <div id="image_container">
    <img id="image" src="proxy/?theurl={{ image_url }}">
  </div>
  <div id="title">{{ book.title }}</div>
  <div id="author">{{ book.author }}</div>
</div>

{% endblock %}
