{% extends 'generation/base.html' %}
{% load staticfiles %}

{% block main %}
<P>
	
</P>
<span id="bookgen">
	<img width=140 height=140 src="{% static "generation/img/logo.png" %}">
	
      
	The Neural Public Library </span>
	<BR>

<div style="margin-left:auto; margin-right:auto; width: 600px;">
&nbsp;
&nbsp;
	<a href="?genre=science fiction">Sci-Fi</a>
&nbsp;
&nbsp;
<a href="?genre=romance">Romance</a>
&nbsp;
&nbsp;
<a href="?genre=mix">Sci-Fi + Romance = ?</a>
</div>
</span>
<BR>

<h3>Genre: {{ genre }}</h3>
</div>

<div id="book" style="display: none;">
  <div id="image_container">
    <img id="image" src="proxy/?theurl={{ image_url }}">
  </div>
  <div id="title">{{ book.title }}</div>
  <div id="author">{{ book.author }}</div>
</div>

{% endblock %}
